<!DOCTYPE html>
<html lang="en">

<head>
	<title>Utuber</title>
	{% load staticfiles %}
	       <link rel="shortcut icon" href="{% static 'title.ico' %}" />
  <link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" type = "text/css"/>
<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'jquery-ui.css' %}">
    <meta charset="utf-8" />
<style>
    ul{
    margin-left:200%;
    background-color:red;
    }
</style>
</head>

<body style="background-image:url('{% static 'title.ico' %}');background-position:center;background-size:50%;background-repeat:no-repeat;background-attachement:fixed;">
 <nav class="navbar navbar-default navbar-fixed-top"id="nav" style="height:56px;background:white;position: absolute;z-index:-1;">
 <div class="row container-fluid">
    <div class="navbar-header col-sm-3">
    <a class="navbar-brand"style="background-image:url('{% static 'title.ico' %}');margin-left:2px;background-repeat:no-repeat;background-size: 50px 50px;" href="{% url 'index' %}">&nbsp&nbsp&nbsp&nbsp</a>
    </div>
  <div class="col-sm-7"style="padding-top:8px;">
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="   crossorigin="anonymous"></script>
      <script>

var suggestCallBack;
$(document).ready(function() {
	$("#search").autocomplete({
		select: function(){ $('form').submit(); },
		source: function(request, response){
			$.getJSON("http://suggestqueries.google.com/complete/search?callback=?", {
				"hl": 		"en",
				"jsonp": 	"suggestCallBack",
				"q": 			request.term,
				"client": "youtube"
			});
			suggestCallBack = function(data){
				var suggestions = [];
				$.each(data[1], function(key, val) {
					suggestions.push({"value": val[0]});
				});
				suggestions.length = 10;
				response(suggestions);
			};
		},
	});
});
</script>

<div id="wrapper">
	<form method="get" action="https://www.youtube.com/results">
    <input type="text"placeholder="Search your video"id="search"style="font-size:120%;width:80%;padding:5px;border: 1px dotted">
        <input type="button"value="search"style="border: 1px dotted;padding:5px;font-size:120%;">
	</form>


</div>
  </div>
     <div class="col-sm-2">
&nbsp;</div>
</div>

 </nav><div class="container"style="margin-top:100px">
	   {% block content %}
	   {% endblock %}
</div>
</body>

</html>